<%- model_class = Article -%>

<div class = "col-lg-4"></div>
<div class="col-lg-4">
<center>
 <h1>Login</h1>
  <%= form_tag sessions_path do %>
    <div class="field">
      <%= label_tag :email %><br />
      <%= text_field_tag :email, params[:email], class: "form-control input-sm" %> 
    </div>
    <div class="field">
      <%= label_tag :password %><br />
      <%= text_field_tag :password, params[:password], :type => "password", class: "form-control input-sm"  %> 
    </div>
    <p>
    <div class="actions"><%= submit_tag "Log In", class: "btn btn-primary" %></div>
    </p>
  <% end %>
  </center>
  </div>